$icon-font-path: "../bower_components/bootstrap-sass-official/assets/fonts/bootstrap/";
// bower:scss
@import "bootstrap-sass-official/assets/stylesheets/_bootstrap.scss";
// endbower
// other stylesheets

// endsheets

.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

html {
  height: 100%;
  min-height: 100%;
}

body {
  padding: 0;
  height: 100%;
}

/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
  //padding-left: 15px;
  //padding-right: 15px;
}

/* Custom page header */
.header {
  height: 52px;
  width: 100%;
  margin-bottom: 0px !important;

  /* Make the masthead heading the same height as the navigation */
  h3 {
    margin-top: 0;
    margin-bottom: 0;
    line-height: 40px;
    padding-bottom: 19px;
  }
}

input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}

.navbar {
  margin-bottom: 0px !important;
}

.addroom {
  margin: 10px 10px 20px 10px;
  color: black;
}

.header-container {

}

.main-container {
  width: 100%;
  background-color: light-green; 
  height: 91.2%;
  padding: 0;
}

.side-container {
  background-color: #4D4C4C;
  color: white;
  font-size: 1.3em;
  height: 100%;
  width: 30%;
  float: left;
  padding: 20px 20px 20px 20px;
  word-wrap: break-word;
}

.middle-container {
  background-color: #DCD9D9;
  float: right;
  height: 100%;
  width: 70%;
  //padding: 50px 30px 50px 30px;
}

.message-container {
  width: 70%;
  height: 84.1%;
  ///background-color: blue;
  position: absolute;
  padding: 30px;
  margin: 0;
  word-wrap: break-word;
}

ul#messages {
  height: 100%;
  font-size: 1.1em;
}

ul, ol {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.form-container {
  width: 70%;
  padding: 0;
  margin: 0;
  //background-color: red;
  position: absolute;
  bottom: 0;
}

.login-page {
  padding: 50px;
}

.button-send {
  height: 100%;
  float: right;
  width: 15%;
  padding: 13px;
  border: none;

}

.input-message {
  height: 100%;
  float: left;
  width: 85%;
  padding: 11px;
}

/* Custom page footer */
.footer {
  height: 30px;
  padding-top: 19px;
  color: #777;
  border-top: 1px solid #e5e5e5;
  clear: both;
}

/* Main marketing message and sign up button */
.jumbotron {
  text-align: center;
  border-bottom: 1px solid #e5e5e5;

  .btn {
    font-size: 21px;
    padding: 14px 24px;
  }
}

/* Supporting marketing content */
.marketing {
  margin: 40px 0;

  p + h4 {
    margin-top: 28px;
  }
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  //.container {
    //max-width: 730px;
  //}

  /* Remove the padding we set earlier */
  .header,
  .marketing,
  .footer {
    padding-left: 0;
    padding-right: 0;
  }
  /* Space out the masthead */
  .header {
    //margin-bottom: 0px;
  }
  /* Remove the bottom border on the jumbotron for visual effect */
  .jumbotron {
    border-bottom: 0;
  }
}
