<h2 class="room-title"> {{activeRoom}} </h1>

<div class="message-container">
  <ul id="messages" ng-show="messages.length">
    <li class="message" ng-repeat="message in messages | reverse">
      <div class="message-box">
        <div class="message-info">
          <div class = "message-sender"> {{message.username}} </div>
          <div class = "message-content" ng-style="{clear:left}"> {{message.content}} </div>
        </div>
        <div class="message-time"> {{message.sentAt}}</div>
      </div>
    </li>
  </ul>
</div>

<div class="form-container">
  <form>
    <input placeholder="Message..." ng-model="newMessage" class="input-message">
    <button type="submit" class="button-send" ng-click="addMessage(newMessage);newMessage = null;">Send</button>
  </form>
</div>

<p class="alert alert-danger" ng-show="err">{{err}}</p>
