<h2 class="room-title"> {{'Room'}} </h1>

<div class="message-container">
  <ul id="messages" ng-show="messages.length">
    <li class="message" ng-repeat="message in messages | reverse">
      <div class="message-box">
        <div class="message-info">
          <div class = "message-sender"> {{'Sender Name'}} </div>
          <div ng-style="{clear:left}">{{message.text}} </div>
        </div>
        <div class="message-time"> 4:05pm </div>
      </div>
    </li>
  </ul>
</div>

<div class="form-container">
  <form>
    <input placeholder="Message..." ng-model="newMessage" class="input-message">
    <button type="submit" class="button-send" ng-click="addMessage(newMessage);newMessage = null;">Send</button>
  </form>
</div>

<p class="alert alert-danger" ng-show="err">{{err}}</p>
